p.content {
  font-family: verdana;
  padding-right: 30%;
}

body {
    background-color:azure;
}

.tooltip .tooltiptext {
  top: -5px;
  left: 105%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
    
.tooltip:hover .tooltiptext {
  visibility: visible;